body {
    display: flex;
    min-height: 100vmin;
    background: radial-gradient(ellipse at bottom, #203c64 0%, #02082c 100%);
 
    overflow: hidden;

    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1 1 1;
    padding: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 63px 33px rgb(17, 0, 255);
    -moz-box-shadow: 0px 0px 63px 33px rgba(153, 0, 255, 0.44);
    box-shadow: 0px 0px 63px 33px rgba(153, 0, 255, 0.44);
}

.resume-btn, .Linkdln-btn, .GitHub-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #6c07df;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.resume-btn:hover, .GitHub-btn:hover, .Linkdln-btn:hover {
    background-color: #055183;
    animation: pulse 2s infinite;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 4em;
}

* {
    font-family: Arial, sans-serif;
}

